* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 270px;
  border: 2px solid mediumpurple;
  gap: 20px;
  border-radius: 25px;
  background-color: rgba(147, 112, 219, 0.59);
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

h1 {
  color: #ffffff;
}

input {
  padding: 5px;
  width: 250px;
  outline: none;
  border-radius: 10px;
  border: 2px solid mediumpurple;
}

input:focus {
  box-shadow:0 0 10px #000;
}

button {
  padding: 6px;
  border-radius: 10px;
  border: 2px solid mediumpurple;
  background-color: rgba(147, 112, 219, 0.59);
  color: #ffffff;
  cursor: pointer;
}

button:active {
  box-shadow:0 0 10px #000;
}